@charset "UTF-8";

/* 回答はここに書いてね */

.tb {
  width: 100%;
  table-layout: fixed;
}

.tb .tb-head > tr > th {
  background-color: #2244aa;
  color: #fff;
  border: 1px solid #dedede;
  font-size: 18px;
  line-height: 26px;
  padding: 10px;
}

.tb .tb-body > tr > td {
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
  text-align: center;
  border: #dedede solid 1px;
}

.tb .tb-body > tr:nth-child(even) > td {
  background-color: #ecf1f2;
}

.tb .tb-body > tr > td:first-child {
  background-color: #2244aa;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.tb .tb-body > tr:last-child {
  border-top: 2px dashed #000 ;
}

/* 回答はここに書いてね */
