@charset "UTF-8";

/* 回答はここに書いてね */

/* Q6-1共通 */

.q6-1-box {
  width: 90px;
  padding: 10px 0;
  background-color: #e6f2ff;
}

/* Q6-1 text-align */
.q6-text {
  display: inline-block;
}

.inline {
  text-align: center;
}

/* Q6-1 margin */
.q6-margin {
  margin: 0 auto;
  text-align: center;
}

/* Q6-2table-flex共通 */
.table-flex-text {
  background-color: #fff;
  padding: 10px;
}

/* Q6-2 table */
.table {
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.table-text {
  display: inline-block;
}

/* Q6-2 flex */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Q6-2 position margin transform 共通 */
.position-absolute {
  position: absolute;
}

/* Q6-2 position margin */
.q6-relative {
  position: relative;
}

.q6-position-margin {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* Q6-2 position transform */
.q6-transform {
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}

/* 回答はここに書いてね */
